<h3>todo ID :<%= @todo.id %> updated successfully </h3>
<h3>showing todo : <%= @todo.id %> </h3>
    <p>
        name : <%= @todo.name %>
    </p>
    <p>
        description : <%= @todo.description %>
    </p>


